html, body{
    padding: 0;
    margin: 0;
}

.movingBox{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
}

.setTimeout{
    background: blue;
    top: 100px;
}

.requestAnimationFrame{
    background: yellow;
    top: 400px;
}