<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
	<style>
		.item {
			background: pink;
			margin-bottom: 5px;
		}
	</style>
</head>
<body>
	<div id="root">
		<list-template :list="list">
			<template v-slot:default="props">
				<div class="item" 
					:key="props.item.id" 
					@click="onClickItem(props.item)" 
					@mouseenter="onMouseEnter(props.item)" 
					@mouseleave="onMouseLeave(props.item)">
					<button @click.stop="setCurrentItem(props.item)">set me to current</button>
					<button @click.stop="delMe(props.item)">delete this item</button>
					{{props.item.name}}
				</div>
			</template>
		</list-template>
		<div v-if="currentItem">
			{{currentItem.name}}
		</div>
	</div>

	<div id="list-template">
		<div>
			<slot name="default" v-for="item in list" :item="item"></slot>
		</div>
	</div>

	<script>
		Vue.component("list-template", {
			template: "#list-template",
			props: {
				list: {
					type: Array,
					default: []
				},
				
			}
		});


		var p = new Vue({
			el: "#root",
			data() {
				return {
					list: [
						{id: 0, name: 0},
						{id: 1, name: 1},
						{id: 2, name: 2},
						{id: 3, name: 3},
					],
					currentItem: null,
				}
			},
			watch: {
				list(newV) {
					console.log('watch for list: ', newV.length);
				}

			},
			methods: {
				onClickItem(item) {
					item.name = item.name + "_" + item.name.toString().slice(0, 1);
				},
				setCurrentItem(item) {
					console.log("set current: ", item);
					this.currentItem = item;
				},
				delMe(item){
					let index = this.list.findIndex( e => e.id == item.id);
					if(index >= 0) {
						this.list.splice(index, 1);
					}
				},
				onMouseLeave(item) {
					console.log("leave: ", item.name);
				},
				onMouseEnter(item) {
					console.log("enter: ", item.name);
				}
			}
		});
		
	</script>
</body>
</html>

<!-- 
	<div :class="$style['operate-btns']" :style="operateBtnsStyleObj" v-if="managingAttendee && managingAttendee.id == item.id">
	    <button tabindex="2" v-if="managingAttendee.isRaiseHand">Lower Hand</button>
	    <button tabindex="2" 
	        v-if="op"
	    >Mute</button>
	    <button tabindex="2" v-if="operateBtnsObj.unmute">Unmute</button>
	    <button tabindex="2" v-if="operateBtnsObj.rename">Rename</button>
	    <button tabindex="2" v-if="operateBtnsObj.more">More</button>
	</div>
 -->