html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.scroller {
	width: 45%;
	height: 300%;
	overflow-y: scroll;
	position: relative;
	border: 1px solid olive;
}

.static_pos {
	position: absolute;
	top: 50px;
	width: 30%;
	height: 50px;
	background: black;
}


